<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
   <typeAliases>
       <typeAlias alias="user" type="com.hitsz.high_concurrency.Data.User"/>   
       <typeAlias alias="goods" type="com.hitsz.high_concurrency.Data.Goods.Goods"/>
       <typeAlias alias="goodsDetail" type="com.hitsz.high_concurrency.Data.Goods.GoodsDetail"/>
       <typeAlias alias="orderInfo" type="com.hitsz.high_concurrency.Data.Order.OrderInfo"/>
       <typeAlias alias="miaosha" type="com.hitsz.high_concurrency.Data.Goods.MiaoShaInfo" />
   </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/concurrency?useSSL=true&amp;
        useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456yd"/>
            </dataSource>
        </environment>

    </environments>

    <mappers>
        <mapper resource="com/hitsz/high_concurrency/Mybatis/Mapper/UserMapper.xml"/>
        <mapper resource="com/hitsz/high_concurrency/Mybatis/Mapper/GoodsMapper.xml"/>
        <mapper resource="com/hitsz/high_concurrency/Mybatis/Mapper/OrderMapper.xml"/>
        <mapper resource="com/hitsz/high_concurrency/Mybatis/Mapper/MiaoShaMapper.xml"/>
    </mappers>

</configuration>